body {
    margin: 0px;
    padding: 0px;
    background-image: url("/src/images/soulswitch.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 5%;
}

.navbar>a {
    text-decoration: none;
    color: white;
    font-size: 50px;
}

.navbar>a:hover {
    color: rgb(224, 222, 222);
}

.center-container {
    color: rgb(224, 222, 222);
}

.mailing-list {
    padding-top: 25px;
    padding-right: 30px;
    display: flex;
    color: rgb(224, 222, 222);
    justify-content: flex-end;
}

/* Find out why text-doecoration-lin is not working */
#mlist {
    padding: 5px;
    text-decoration-line: underline;
    text-decoration-color: white;
}

form>button {
    /* padding: 5px; */
    padding: 4px 10px;
    font-size: 16px;
    color: #dc3545;
    border: 2px solid #dc3545;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

form>button:hover {
    background-color: #dc3545;
    color: white;
}

form>button:focus {
    outline: none;
}


main {
    width: 50%;
    height: 50%;
    text-align: center;
    color: white;
    font-size: xx-large;
    width: 100%;
}

main>.Videos {
    text-align: left;
    padding-left: 20%;
    overflow: hidden;
    margin: auto;
}

.title {
    padding-bottom: 15%;
}

.Videos {
    padding-top: 150px;
    color: rgb(224, 222, 222);
    margin: auto;
    overflow: hidden;
}

.videostream {
    padding-top: 50px;
}

table {
    border-collapse: collapse;
    width: 80%;
}


table.upcoming-shows tr.table-header th {
    border-bottom: 2px solid red;
}

th,
td {
    font-weight: bolder;
    padding: 10px;
    text-align: left;
    margin: auto;
}

input {
    border-radius: 4px;
}



.HHG>td {
    text-decoration: line-through;
    text-decoration-color: red;
}

tr:hover {
    color: white;
    font-weight: 900;
}

.blurred-background {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

td>button {
    padding: 8px;
    width: 8rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td>button:hover {
    transform: scale(1.2, 1.2);
    background-color: red;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
}

.spotify-stream {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.display-cd {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    color: white;
    /* border: 3px solid red; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 10); */
}

.display-cd>img {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.display-cd img {
    transition: transform 0.3s;
    /* Add a smooth transition for the image swap */
}

.display-cd img:hover {
    transform: scale(1.1);
}

.spotify-announce {
    display: flex;
    justify-content: center;
    color: red;
}


.spotify-announce-container {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid black;
    font-size: xxx-large
}

.logl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}